*{
    font-family: Merriweather, Verdana, Tahoma, sans-serif;
    padding:0;
    margin:0;
}

.cabecera img{
    width: 30%;

}

.header{
    background-color: rgb(255, 255, 255);

}
.titulo{
    font-size: 6vw;
    background-color: black;
    box-sizing: border-box;
    color: white;
    letter-spacing: 1.5vw;
    padding-top: 3vw;
    padding-bottom: 2.5vw;
}
.subtitulo{
    /*  font-size: 3.5vw;
    color: rgba(55, 255, 255);
    letter-spacing: 0.36vh;
    text-shadow: 0.13vw 0 1.3vh #fff; */
    position: relative;
    background-color: rgba(00, 00, 00, 55%);
    background-color: rgba(173, 216, 230, 0.308);
    color: rgba(173, 216, 230, 0.758);
    font-size: 3.8vw;
    letter-spacing: 0.2vw;
    text-shadow: 0.13vw 0 1.3vh #fff;
    padding-top: 6.8vw;
    height: 12vw;
    top:-7vw;
}
.titulo span{
    color: transparent;
    text-shadow: none;
    font-size: 0.6vw;
}
.subtitulo span{
    color: transparent;
    text-shadow: none;
    font-size: 0.6vw;
}
.bgSubtitulo{
    margin: 0;
    padding: 0;
    height: 5vw;
    z-index: 1;
    background-color: black;
    
}   
.exitosa{
    color: rgba(251, 248, 248, 0.501);
}
.nav-link {
    font-size: 4vw;
    color: transparent !important;
}
.nav-link span{
    color: black;
}
.nav-link:hover{
    color: black !important; 
    }

.navbar{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.quienSoySpace{
    color: transparent !important;
    font-size: 1.5vw;
    padding: 0 !important;
}
.borrarPadding{
    padding: 0 !important;
}
.main__parrafo{
    background-image: url(./Imagenes/condor.webp);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.main__parrafo2{
    background-image: url(./Imagenes/atardecer1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main__parrafo p{
    text-align: center;
    padding: 2vh 2vw;
    font-size: 4.2vw;
    background-color: rgba(242, 236, 236, 0.526);
    height: 54vw;
    padding-top: 10%;
}
.main__parrafo2 p{
    text-align: center;
    padding: 2vh 2vw;
    font-size: 4.4vw;
    height: 54vw;
    padding-top: 20%;
    background-color: rgba(242, 236, 236, 0.526);
}
.main__parrafo3 p{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 8.4vw;
    background-color: rgba(242, 236, 236, 0.526);
    height: 54vw;
    padding-top: 30%;
    text-shadow: 0.2vh 0 0.5vh #000;
}
.main__parrafo3 a{
    text-decoration: none;
}

.main__titulo{
    font-size:4vw;
    color: white;
    background-color: black;
    height: 100%;
    padding:3vw;
    letter-spacing: 1vw;
}
.main__titulo span{
    color: lightblue;
    font-size:7vw;
}
.main__titulo img{
    width: 14%;
}
.main__link a{
    text-decoration: none;
    color: white;
    font-size: 180%;
}
.main__link{
    background-color: black;
    text-align: center;
}
.index__main{
    background-color: rgb(60, 12, 12);
}
.col-lg-0{
    display: hidden;
}

.asideLeft--banner{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 40vw;
    box-shadow: inset;
    position: relative;
    left: 5vw;
    
    
    
}
.asideGenerar{
    margin: 0 !important;
    padding: 0 !important;

}
.asideLeft--banner span{
    color: black;
}
#generar{
    font-size: 3.5vw;
    text-align: center;
    color: white;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    animation-name: bgAsideLeft;
    animation-duration: 15s; 
    animation-iteration-count: infinite;
    width: 100%;
    height: 20vw;
    padding-top: 7%;
    box-shadow: inset 1.5vw 2vw 2vw 0 white;
    margin:2%;
    background-color: black;
    box-shadow: inset -14px 10px 9px -4px #FFFFFF9a;
}

#aumentar{
    font-size: 3.5vw;
    text-align: center;
    color: black;
    animation-name: bgAsideLeft2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    width: 100%;
    margin:2%;
    height: 20vw;
    box-shadow: inset -14px 0px 9px -4px #FFFFFF9a;

    padding-top: 5%;
    background-color: black;
}
#animar{
    font-size: 3.5vw;
    text-align: center;
    color: black;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    animation-name: bgAsideLeft3;
    animation-duration: 15s; 
    animation-iteration-count: infinite;
    width: 100%;
    box-shadow: inset -14px -11px 9px -4px #ffffff9a;
    margin:2%;
    height: 20vw;
    background-color: black;
    padding-top: 3%;
}
@keyframes bgAsideLeft {
    0%{
    color: black;
    }
        
    100%{
    color: white;
    }
}
@keyframes bgAsideLeft2 {
    33%{
    color: black;
    }
    
    100%{
    color: white;
    }
}
@keyframes bgAsideLeft3 {
    66%{
    color: black;
    }    
    100%{
    color: white;
    }
}
.grid__asideRight video{
    width: 42vw;
    padding-left: 5%;
}
.grid__asideRight{
    display: grid;
    justify-items: center;
    background-color: rgb(60, 12, 12);    
    
}
.fa-brands{
    font-size: 2vh;
    color: white;
}
.asides{
    margin: 0;
}
.footer__links{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.footer__links i{
    text-decoration: none;
    font-size: 5vw;
    padding:0.5vh 0.5vw;
    border-radius: 50%;
}

.footer__contacto{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.footer__contacto--contacto{
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}
.footer__contacto--contacto p{
    color: white;
    font-size: 4vw;
    margin: 0;
    padding-top: 1vh;
}
.footer__contacto--Items{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
}
.footer__contacto--items p{
    font-size: 2.5vw;
    margin:0 !important;
    color: white;
}
.footer__contacto--items img{
    height: 8vw;
    
    padding: 0.5vh;
}
#bandera{
    display: none;
}

.footer__myself{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: solid 0.1vh black;
}

.footer__myself img{
    height: 10vw;
    border: double 0.7vh rgba(232, 219, 219, 0.358);
    margin-top: 1vw;
    
}
.footer__myself p{
    font-size: 2.5vw;
    color: white;
    text-align: center;
    margin: 0;
}
.main__contacto{
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-width: 3vh;
    border-left: none;
    background-color: white;
    overflow: auto;
    box-shadow: 1.5vh 2vh 2vh 0 black;
    background-image: url(./Imagenes/RAMA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(173, 216, 230, 1);
    background-position: -2.5vw -6vh;
}
.main__contacto--up{
    grid-area: 1 / 1/ 2 / 2;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    top:4vh;
    /* background-color: rgba(148, 246, 182, 0.586); */
    background-color: rgba(0, 0, 0, 0.436);
    height: 6vh;
    border-top: ridge 0.5vh black;
    border-bottom: ridge 0.5vh black;
    z-index: 100;
}

.contacto__titulo b{
    font-size: 3vh;
    letter-spacing: 0.6vh;
    color: white;
}

.contacto__formulario{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 100;        
}
.form__left{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: repeat(4 1fr);
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.form__middle{
    grid-area: 1 / 2 / 2 / 3;
}
.from__right{
    grid-area: 1 / 3 / 2 / 4;
}
.form__left input{
    font-style: italic;
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    width: 25vw;
    height: 5vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.436);
    border: double 0.6vh black;
}
    
 .form__left input::placeholder{
     color: white;
     font-size: larger;
 }
.contacto__formulario textarea{
    height: 25vh;
    width: 30vw;
    border: double 0.6vh black;
    font-style: italic;
    font-size:larger;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.436);
    resize: none;
}
.contacto__formulario textarea:focus{
    color: white;
    outline: none;
    font-size: larger;
}
.contacto__formulario input:focus{
    outline: none;
    color: white;
    font-size: larger;
}
.contacto__formulario input:focus::placeholder{
    color: transparent;
}
.contacto__formulario textarea:focus::placeholder{
    color: transparent;
}
.contacto__formulario textarea::placeholder{
    color: white;
    font-size: x-large;
}
#enviar{
    border: double 0.6vh black;
    font-style: italic;
    font-size:larger;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.436);
    height: 6vh;
    width: 8vw;
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;    
}
.main__clientes{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr;
    background-color: #fffffff3;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-width: 3vh;
    border-left: none;
    overflow: auto;
    box-shadow: 1.5vh 2vh 2vh 0 black;
    height: 100%;
    border-top: none;

}
.clientes__titulo{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    justify-items: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.clientes__titulo p{
    font-size: 3vh;
    letter-spacing: 1vh;
    color: peachpuff;
    position: relative;
    top:1vh;
    left:1vw;
}   
.clientes__cuerpo{
    grid-area: 2 / 1 / 3 / 2;    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.clientes__cuerpo--cliente1{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr;
    justify-items: center;
    align-items: center;
}
.clientes__cuerpo--cliente2{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 8fr 1fr;
    justify-items: center;
    align-items: center;
}
.clientes__cuerpo--cliente3{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    justify-items: center;
    align-items: center;
}
.cliente1--left{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(173, 216, 230, 0.558);
}   
.cliente1--right{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.558);
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.cliente2--left{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.958);
}
.cliente2--right{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.958);
}
.cliente3--left{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.558);
}
.cliente3--right{
    display: grid;
    background-color: rgba(173, 216, 230, 0.558);
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.clientes__cuerpo--cliente1 img{
    height: 18vh;
    width: 100%;
}
.clientes__cuerpo--cliente2 img{
    height: 18vh;
}
.clientes__cuerpo--cliente3 img{
    height: 18vh;
}
.cliente1--right p{
    font-size: 2vh;
    width: 100%;
    padding-left: 1vh;
}
.cliente2--left p{
    font-size: 2.4vh;
    width: 100%;
    padding-left: 2vh;
}
.cliente3--right p{
    font-size: 2vh;
    width: 100%;
    padding-left: 1vh;
}
#deniro{
    text-align: center;
    width: 100%;
    height: 60%;
    padding-right: 15vh;
    font-size: 3vh;
    text-decoration: underline;
}
#hugest{
    text-align: center;
    width: 100%;
    height: 40%;
    font-size: 3vh;
    padding-left: 20vh;
    text-decoration: underline;
}
#andrada{
    text-align: center;
    width: 100%;
    height: 40%;
    font-size: 3vh;
    padding-right: 15vh;
    text-decoration: underline;
}
.quienSoy{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: rgba(222, 184, 135, 0.527);
    margin: 0;
    padding: 0;
    height: 70vw;
    margin-bottom: 2vw;
}
#bgQuienSoy{
    background-color: rgba(222, 184, 135, 0.827);

}
.quienSoy__right{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 2fr;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#quienSoy--span1{
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(./Imagenes/epecuen2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 139%;
    width: 100%;
    position: relative;
    top:6.9vw;
   /*  border-bottom: solid 0.2vh black;
    border-left: solid 0.2vh black;
 */}
#quienSoy--span2{
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(./Imagenes/memi.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 140%;
    position: relative;
    top: 0vw;
}

.quienSoy__right h2{
    text-align: center;
    font-size: 6vw;
}
.quienSoy__right h6{
    width: 90%;
    font-size: 2.2vw;
    position: relative;
    top: 3.2vw;
    padding-left: 5vw;
    text-align: center;
    
}
.main__servicios{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: #c1c1b37a;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-width: 3vh;
    border-left: none;
    background-color: white;
    overflow: auto;
    box-shadow: 1.5vh 2vh 2vh 0 black;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    
}

.main__servicios--banners{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: black;
}
.main__servicios--botones{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vw;
    justify-items: center;
    align-items: center;
    background-color: black;
}
.main__servicios--botones p{
    font-size: 4vh;
    height: 100%;
    width: 100%;
    padding-left: 1vh;
    border: solid 0.3vh black;
    border-top-right-radius: 3vh;
    border-bottom-right-radius:3vh ;
    /* text-shadow: 20vw 10vh 0.8vh #333; */
}
.googleAds--boton{
    text-shadow: 23vw 9vh 0.8vh #333;
    background-color: white;
    margin-left: 0.5vh;
}
.mostrarFacebook{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    position: absolute;
    top:55vh;
    left:50.5vw;
}
.mostrarGoogle{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    position: absolute;
    top:55vh;
    left:14.5vw;
}
.mostrarInstagram{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    position: absolute;
    top:71vh;
    left:14.5vw;
}
.mostrarWebDesign{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    position: absolute;
    top:70.5vh;
    left:50.5vw;
}
.mostrarGoogle:hover + .mg{
    transition: 1s;
    opacity: 100%;
}
.mostrarFacebook:hover + .mf{
    transition: 1s;
    opacity: 100%;
}
.mostrarInstagram:hover + .mi{
    transition: 1s;
    opacity: 100%;
}
.mostrarWebDesign:hover + .mw{
    transition: 1s;
    opacity: 100%;
}
.facebookAds--boton{
    text-shadow: 21vw 9vh 0.8vh #333;
    background-color: white;
}
.instagramAds--boton{
    text-shadow: 20vw 9vh 0.8vh #333;
    background-color: white;
    margin-left: 0.5vh;
    border-bottom-left-radius: 5vh;
}
.webDesign--boton{
    text-shadow: 22.5vw 9vh 0.8vh #333;
    background-color: white;
}
.mf{
    opacity:0;
}
.mi{
    opacity: 0;
}
.mw{
    opacity: 0;
}
.mg{
    opacity: 0;
}

.main__servicios--banners img{
    height: 29.5vh;
    width: 71.5vw;
    position: absolute;
    left:14.25vw;
    top: 25.2vh;
}

/* .main__contacto--rama{
    position: absolute;
    height: 20%;
    width: 18%;
    left:31vh;
    top: 72vh;
    transform: rotate(-30deg);
    z-index: -10 ;
}
.main__contacto--rama2{
    position: absolute;
    transform: scale(67%);
    left: 72.5vh;
    top: 13vh;
    z-index: -10 ;
}
.main__contacto--rama3{
    position: absolute;
    transform: rotate(-30deg);
    top: 22vh;
    z-index: 10 ;
}
.main__contacto--rama4{
    position: absolute;
    transform: scale(66%);
    top: 65vh;
    left: 61.3vw;
    z-index: -1 ;
} */


@media only screen and (min-width: 992px) {
    .titulo{
        font-size: 3vw;
        background-color: black;
        box-sizing: border-box;
        color: white;
        letter-spacing: 1.5vw;
        height: 4vw;
        padding-top: 0.1vw;
    }
    .subtitulo{
     
        background-color: rgba(173, 216, 230, 0.308);
        color: rgba(173, 216, 230, 0.758);
        font-size: 1.8vw;
        letter-spacing: 0.2vw;
        text-shadow: 0.13vw 0 1.3vh #fff;
        height: 3vw;
        position: relative;
        top: 0.1vw;
        padding-top: 0.5vw;
    }
    .titulo span{
        color: transparent;
        text-shadow: none;
        font-size: 0.6vw;
    }
    .subtitulo span{
        color: transparent;
        text-shadow: none;
        font-size: 0.6vw;
    }
    .bgSubtitulo{
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
        background-color: black;
        height: 3vw;
    }   
    .exitosa{
        color: rgba(251, 248, 248, 0.501);
    }
    .nav-link {
        font-size:1vw;
        margin-top: 1vw;
        margin-left: 1.3vw;
        color: transparent !important;
    }
    .nav-link span{
        color: white;
        padding: 0 0.3vw 0 0.3vw;
    }
    .nav-link:hover{
        color: white !important; 
        }
    .navbar-expand-lg{
        width: 60%;
        text-align: center;
    }
    .barraNav{
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 3vw;
    }
    #logoNavBar{
        display: flex;
        width: 8vw;
        position: absolute;
        left:-20vw;
    }
    #navbarNav{
        height: 3.5vw;
        position: absolute;
        top: -0.5vw;
        left: 1vw;
        width: 55vw;
        border: solid white;
        border-bottom: none;
        background-color: rgb(60, 12, 12);
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        
    }
    .quienSoySpace{
        color: transparent !important;
        font-size: 0.6vw;
        padding: 0 !important;
    }
    .borrarPadding{
        padding: 0 !important;
    }
    .main__parrafo{
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: fit-content;
    }
    .main__parrafo2{
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: fit-content;
    }
    .container__main{
        background-image: url(./Imagenes/condor.webp);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 60vw;
        margin-top: 1vh;
    
    }
    .main__parrafo p{
        text-align: center;
        font-size: 1.8vw;
        background-color: rgba(242, 236, 236, 0.526);
        height: 19.4vw;
        padding-top: 10%;
        margin-bottom: 0;
        
    }
    .main__parrafo2 p{
        text-align: center;
        font-size: 1.5vw;
        height: 13vw;
        padding-top: 8%;
        background-color: rgba(242, 236, 236, 0.526);
    }
    .main__parrafo3 p{
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 3.5vw;
        background-color: rgba(242, 236, 236, 0.526);
        height: 13vw;
        padding-top: 12%;
        text-shadow: 0.2vh 0 0.5vh #000;
    }
    .main__parrafo3 a{
        text-decoration: none;
    }
    
    .main__titulo{
        font-size:1.5vw;
        color: white;
        background-color: black;
        height: 5vw;
        padding: 0;
        letter-spacing: 0.3vw;
        padding-top: 1.5vw;
    }
    .borrarBr{
    display:none;
    }
    .main__titulo span{
        color: lightblue;
        font-size:1.8vw;
        letter-spacing: 0.3vw;

    }
    .main__titulo img{
        width: 2%;
    }
    .main__link a{
        text-decoration: none;
        color: white;
        font-size: 180%;
    }
    .main__link{
        background-color: black;
        text-align: center;
    }
    .index__main{
        background-color: rgb(60, 12, 12);
    }
      
    .asideLeft--banner{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 16vw;
        box-shadow: inset;
        position: absolute;
        left: 82vw;
        top: 20vw;
        
        
        
    }
    .asideGenerar{
        margin: 0 !important;
        padding: 0 !important;
    
    }
    .asideLeft--banner span{
        color: black;
    }
    #generar{
        font-size: 1.4vw;
        text-align: center;
        color: white;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        animation-name: bgAsideLeft;
        animation-duration: 15s; 
        animation-iteration-count: infinite;
        width: 80%;
        height: 9vw;
        padding-top: 8%;
        box-shadow: inset 1.5vw 2vw 2vw 0 white;
        margin:2%;
        background-color: black;
        box-shadow: inset -14px 10px 9px -4px #FFFFFF9a;
    }
    
    #aumentar{
        font-size: 1.4vw;
        text-align: center;
        color: black;
        animation-name: bgAsideLeft2;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        width: 80%;
        margin:2%;
        height: 9vw;
        box-shadow: inset -14px 0px 9px -4px #FFFFFF9a;
        padding-top: 8%;
        background-color: black;
    }
    #animar{
        font-size: 1.4vw;
        text-align: center;
        color: black;
        border-bottom-left-radius: 3vw;
        border-bottom-right-radius: 3vw;
        animation-name: bgAsideLeft3;
        animation-duration: 15s; 
        animation-iteration-count: infinite;
        width: 80%;
        box-shadow: inset -14px -11px 9px -4px #ffffff9a;
        margin:2%;
        height: 9vw;
        background-color: black;
        padding-top: 5%;
    }
    @keyframes bgAsideLeft {
        0%{
        color: black;
        }
            
        100%{
        color: white;
        }
    }
    @keyframes bgAsideLeft2 {
        33%{
        color: black;
        }
        
        100%{
        color: white;
        }
    }
    @keyframes bgAsideLeft3 {
        66%{
        color: black;
        }    
        100%{
        color: white;
        }
    }
    .grid__asideRight video{
        width: 18vw;
        padding-left: 5%;
    }
    .grid__asideRight{
        display: grid;
        position: absolute;
        width: 18vw;
        top:19vw;
        left: 0.5vw;
        justify-items: center;
        background-color: rgb(60, 12, 12);    
        
    }
    .fa-brands{
        font-size: 0.5vh;
        color: white;
    }
    .asides{
        margin: 0;
    }
    .footer__links{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .footer__links i{
        text-decoration: none;
        font-size: 2vw;
        padding:0.5vh 0.5vw;
        border-radius: 50%;
    }
    
    .footer__contacto{
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .footer__contacto--contacto{
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }
    .footer__contacto--contacto p{
        color: white;
        font-size: 1.6vw;
        margin: 0;
        padding-top: 1vh;
    }
    .footer__contacto--Items{
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
    }
    .footer__contacto--items p{
        font-size: 1.2vw;
        margin:0 !important;
        color: white;
    }
    .footer__contacto--items img{
        height: 4vw;
        position: absolute; 
        top:54.3vw;
        left: 28vw;
        
    }
    #bandera{
        display: flex;
        height: 4vw;
        position: absolute; 
        top:54.3vw;
        left: 62vw;
        margin-bottom: 1vh;
    }
    .footer__myself{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        border: solid 0.1vh black;
    }
    
    .footer__myself img{
        height: 4vw;
        border: double 0.7vh rgba(232, 219, 219, 0.358);
        margin-top: 1vw;
        
    }
    .footer__myself p{
        font-size: 1vw;
        color: white;
        text-align: center;
        margin: 0;
        position: relative;
        top: 1vw;
        left: -3vw;
    }
    .quienSoy__main{
        background-color: rgba(222, 184, 135, 0.827);

        }
    .container__quienSoy{
    width: 60%;
    background-color: rgba(222, 184, 135, 0.827);
    }
    .quienSoy{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color:rgb(60, 12, 12);
        margin: 0;
        padding: 0;
        height: 34.5vw;
    }

    .quienSoy__right{
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:1fr 2fr;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 60%;
        margin-left: 20vw;
        height: 34.5vw;
        background-color: rgba(222, 184, 135, 0.827)
    }

    #quienSoy--span1{
        grid-area: 1 / 2 / 2 / 3;
        background-image: url(./Imagenes/epecuen2.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 120%;
        width: 100%;
        position: relative;
        top: 1.8vw;
    }
    #quienSoy--span2{
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(./Imagenes/memi.jpg);
        background-repeat: no-repeat;
        background-size: auto 140%;
        height: 100%;
        transform: scale(1.3);
        position: relative;
        left: 8.3vw;
        top: -4.4vw;
        margin-bottom: -4vw;
    }
    
    .quienSoy__right h2{
        text-align: center;
        font-size: 3vw;
        color: white;
        margin-top: -3vw;
    }
    .quienSoy__right h6{
        width: 90%;
        height: 70%;
        font-size: 1.3vw;
        color: white;
        padding-left: 3vw;
        text-align: center;
    }
}
@media only screen and (min-width: 1358px) {

    .subtitulo{
        font-size: 1.8vw;
    }

    .nav-link {
        font-size:1.2vw;
        margin-top: 1vw;
        margin-left: 0.3vw;
        color: transparent !important;
    }
    #logoNavBar{
        display: flex;
        width: 8vw;
        position: absolute;
        left:-20vw;
        top:-1vw;
    }
    .footer__contacto--items img{
        height: 4vw;
        position: absolute; 
        top:53vw;
    }
    #bandera{
        display: flex;
        height: 4vw;
        position: absolute; 
        top:53vw;
        left: 62vw;
    }    
    
    .footer__myself{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        border: solid 0.1vh black;
    }
    
    .footer__myself img{
        height: 6vw;
        border: double 0.7vh rgba(232, 219, 219, 0.358);
        margin-top: 1vw;
        margin-bottom: 1vw;
        
    }
    .footer__myself p{
        font-size: 1.2vw;
        color: white;
        text-align: center;
        margin: 0;
        position: relative;
        top: 0.5vw;
        left: -3vw;
    }



}    
@media only screen and (max-width: 475px) {

    .subtitulo{
        font-size: 3vw;
    }
}
