*{
    font-family: Merriweather, Verdana, Tahoma, sans-serif;
}
.noPadding{
    padding:0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.noMargin{
    margin:0 !important;
}

.headerUp, .headerDown{
    display: none;
}
.header{
    background-color: rgb(255, 255, 255);
    .cabecera img{
        width: 30%;
    }
    .titulo{
        font-size: 6vw;
        background-color: black;
        box-sizing: border-box;
        color: white;
        letter-spacing: 1.5vw;
        padding-top: 3vw;
        padding-bottom: 2.5vw;
        width: 100vw;
        span{
            color: transparent;
            text-shadow: none;
            font-size: 0.6vw;
        }
    }
    .subtitulo{
        position: relative;
        background-color: rgba(00, 00, 00, 55%);
        background-color: rgba(173, 216, 230, 0.308);
        color: rgba(173, 216, 230, 0.758);
        font-size: 3.8vw;
        letter-spacing: 0.2vw;
        padding: 0;
        text-shadow: 0.13vw 0 1.3vh #fff;
        padding-top: 6.8vw;
        height: 12vw;
        top:-7vw;
        margin: 0;
        span{
            color: transparent;
            text-shadow: none;
            font-size: 0.6vw;
        }
    }
    .bgSubtitulo{
        height: 5vw;
        z-index: 1;
        
        background-color: black;
        .exitosa{
            color: rgba(251, 248, 248, 0.501);
        }
    }
}   

@media only screen and (min-width: 992px) {
/* .header{
    .titulo{
        font-size: 3vw;
        background-color: black;
        box-sizing: border-box;
        color: white;
        letter-spacing: 1.5vw;
        height: 4vw;
        padding-top: 0.1vw;
        span{
            color: transparent;
            text-shadow: none;
            font-size: 0.6vw;
        }
    }
    .subtitulo{
        background-color: rgba(173, 216, 230, 0.308);
        color: rgba(173, 216, 230, 0.758);
        font-size: 1.8vw;
        letter-spacing: 0.2vw;
        text-shadow: 0.13vw 0 1.3vh #fff;
        height: 3vw;
        position: relative;
        top: 0.1vw;
        padding-top: 0.5vw;
        span{
            color: transparent;
            text-shadow: none;
            font-size: 0.6vw;
        }
    }
    .bgSubtitulo{
        position: relative;
        z-index: 1;
        background-color: black;
        height: 3vw;
        .exitosa{
            color: rgba(251, 248, 248, 0.501);
        }
    }   
} */
.cabecera{
    display: none;
}
.headerUp{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr  7fr  1fr;
    background-color: white;
    height: 6.4vw;
}
.header__tituloUp{
    position: relative;
    background-color: black;
    box-sizing: border-box;
    z-index: 1;
    color: white;
    font-size: 3.2vw;
    text-align: center;
    padding: 1.3vw 1.17vw;
    letter-spacing: 1.2vw;
    height: 6.45vw;
}
.headerDown{
    display: flex;
    height: 1.5vw;
}
.header__tituloDown{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10;
    justify-content: center;
    top:-6.8vw;
    left:12.5vw;
}
.header__tituloDown p{
    position: relative;
    background-color: rgba(0, 0, 0, 0.550);
    color: rgba(173, 216, 230, 0.758);
    width: 25vw;    
    height: 4vw;
    padding: 1.8vw 0 0.4vw 0;
    font-size: 1.7vw;
    text-align: center;
    letter-spacing: 0.36vw;
    text-shadow: 0.13vw 0 1.3vw #fff;
}
#exitosa{
    text-align: center;
    border-left: double 0.19vw grey;
    border-right: double 0.19vw grey;
    color: rgba(251, 248, 248, 0.501);
    top: 3.9vw;
}
#aTuAlcance{
    border-bottom-right-radius: 0.65vw;
    top: 3.9vw;
}
#profesional{
    border-bottom-left-radius: 0.65vw;
    top: 3.9vw;
}


.triangulo__UpLeft{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.45vw 6.45vw 0;
    border-color: transparent  #000000 transparent transparent;
    transform: rotate(90deg);
} 
.triangulo__UpRight{
    width: 0;
    height: 0;
    border-style: solid;
    border-width:   6.45vw 0 0 6.45vw;
    border-color: transparent transparent transparent #000000;
} 
.header__logoIzq{
    display: flex;
    justify-content: flex-end;
    
}
.header__logoDer{
    display: flex;
    justify-content: flex-start;
}

.header__logoIzq img{
    height: 3.5vw;
    z-index: 10;
    align-self: center;
    position: relative;
    left:1vw;
}
.header__logoDer img{
    height: 3.5vw;
    z-index: 10;
    align-self: center;
    position: relative;
    right: 1vw;
}
#logoNavBar{
    display: none;
}

}
@media only screen and (min-width: 1358px) {

    .subtitulo{
        font-size: 1.8vw;
    }
}
@media only screen and (max-width: 475px) {

    .header{
        .subtitulo{
            font-size: 3vw;
        }
    }
}
@media only screen and (max-width: 384px) {
    .header{
        .subtitulo{
            font-size: 3vw;
        }
    }
}