.nav-link {
    font-size: 4vw;
    color: transparent !important;
}
.nav-link span{
    color: black;
}
.nav-link:hover{
    color: black !important; 
    }
.navbar{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.logoIndex{
    width: 30%;
}
@media only screen and (min-width: 992px) {

    .nav-link {
        font-size:1.8vw;
        width:18.5vw;
        margin-top: 1vw;
        color: transparent !important;
    }
    .nav-link span{
        padding: 0 0.3vw 0 0.3vw;
    }
    .nav-link:hover{
        color: black !important; 
        }
    .noMarginRight{
        margin-right: 0 !important;
    }
    .navbar-expand-lg{
        width: 65%;
        text-align: center;
    }
    #logoNavBar{
        display: none;
    }
    #navbarNav{
        height: 3vw;
        position: absolute;
        left: -15.8vw;
        bottom:-2vw;
        padding-right: 2vw;
    } 
}
