
.reset{
    @extend %reset;
}

.main__parrafo{
    background-image: url(../Imagenes/condor.webp);
    background-repeat: no-repeat;
    background-size: 100% auto;
    p{
        text-align: center;
        padding: 2vh 2vw;
        font-size: 4.2vw;
        background-color: rgba(242, 236, 236, 0.526);
        height: 54vw;
        padding-top: 10%;
    }
}
.main__parrafo2{
    background-image: url(../Imagenes/atardecer1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    p{
        text-align: center;
        padding: 1vw 2vw 0 2vw;
        font-size: 4.4vw;
        height: 54vw;
        padding-top: 20%;
        background-color: rgba(242, 236, 236, 0.526);
    }
}
.main__parrafo3{
    @extend %reset;
    p{
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 8.4vw;
        background-color: rgba(242, 236, 236, 0.526);
        height: 54vw;
        padding-top: 30%;
        text-shadow: 0.2vh 0 0.5vh #000;
    }
    a{
        text-decoration: none;
    }
}
.main__titulo{
    font-size:4vw;
    color: white;
    background-color:black;
    height: 100%;
    padding:3vw;
    letter-spacing: 1vw;
    span{
        color: lightblue;
        font-size:7vw;
    }
    img{
        width: 14%;
    }
}
.col-lg-0{
    display: hidden;
}
@media only screen and (min-width: 992px) {
    .index__main{
        margin-top: 2vw;
    }
    .container__main{
        background-image: url(../Imagenes/condor.webp);
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 58.7vw;
        position: relative;
        left: 18.7vw;
        margin-top: 4vw;
        height: 32vw;
    }
    .main__parrafo{
        background-image: none;
        height: fit-content;
        p{
            text-align: center;
            font-size: 1.6vw;
            background-color: rgba(242, 236, 236, 0.526);
            height: 17.5vw;
            padding-top: 10%;
            margin-bottom: 0;
        }
    }
    .main__parrafo2{
        background-image: none;
        height: fit-content;
        p{
            text-align: center;
            font-size: 1.5vw;
            height: 14.1vw;
            padding-top: 15%;
            background-color: rgba(242, 236, 236, 0.526);
        }
    }
    .main__parrafo3{
        p{
            text-align: center;
            text-decoration: none;
            color: black;
            font-size: 3.5vw;
            background-color: rgba(242, 236, 236, 0.526);
            height: 14.1vw;
            padding-top: 18%;
            text-shadow: 0.2vh 0 0.5vh #000;
        }
    }
.main__titulo{
        font-size:1.2vw;
        color: white;
        background-color: rgba(0, 0, 0, 0.426);
        height: 4vw;
        position: absolute;
        z-index: 10;
        width: 58.7vw;
        left: 18.7vw;
        padding: 0;
        letter-spacing: 0.3vw;
        padding-top: 1.5vw;
        
        span{
            color: lightblue;
            font-size:1.3vw;
            letter-spacing: 0.3vw;
        }
        img{
            width: 2%;
        }
    }
    .borrarBr{
    display:none;
    }
}

