.quienSoy{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    height: 70vw;
    margin-bottom: 2vw;
}
.quienSoy__main{
    background-color: rgba(222, 184, 135, 0.527);
}
.quienSoy__right{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 2fr;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#quienSoy--span1{
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../Imagenes/epecuen2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 139%;
    width: 100%;
    position: relative;
    top:6.9vw;
/*  border-bottom: solid 0.2vh black;
    border-left: solid 0.2vh black;
 */}
#quienSoy--span2{
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(../Imagenes/memi.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 140%;
    position: relative;
    top: 0vw;
}

.quienSoy__right h2{
    text-align: center;
    font-size: 6vw;
}
.quienSoy__right h6{
    width: 90%;
    font-size: 2.2vw;
    position: relative;
    top: 3.2vw;
    padding-left: 5vw;
    text-align: center;
    
}

@media only screen and (min-width: 992px) {
    .container__quienSoy{
    width: 60%;
    }
    .quienSoy{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
        height: 34.5vw;
    }
    .quienSoy__right{
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:1fr 2fr;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 60%;
        margin-left: 20vw;
        height: 34.5vw;
    }
    #quienSoy--span1{
        grid-area: 1 / 2 / 2 / 3;
        background-image: url(../Imagenes/epecuen2.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 120%;
        width: 100%;
        position: relative;
        top: 1.8vw;
    }
    #quienSoy--span2{
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Imagenes/memi.jpg);
        background-repeat: no-repeat;
        background-size: auto 140%;
        height: 100%;
        transform: scale(1.3);
        position: relative;
        left: 8.3vw;
        top: -4.6vw;
        margin-bottom: -4vw;
    }
    .quienSoy__right h2{
        text-align: center;
        font-size: 3vw;
        color: black;
        margin-top: -3vw;
    }
    .quienSoy__right h6{
        width: 90%;
        height: 70%;
        font-size: 1.3vw;
        color: black;
        padding-left: 3vw;
        text-align: center;
    }
}

