.servicios__main{
    background-color: rgba(218, 226, 55, 0.441);
}
.serviciosBanners img{
    width: 90%;
    margin-top: 1vw;
    margin-bottom: 1vw;

}
.servicios--botones{
    display: none;
}
/* .servicios__main{
    background-color: #c1c1b37a;
    border-left: none;
    background-color: white;
    height: 34.5vw;
}

.main__servicios--banners{
    background-color: black;
    height: 34.5vw;

}
.main__servicios--botones{
    position: relative;
    justify-items: center;
    align-items: center;
    background-color: black;
}
.main__servicios--botones p{
    font-size: 4vh;
    height: 100%;
    width: 100%;
    padding-left: 1vh;
    border: solid 0.3vh black;
    border-top-right-radius: 3vh;
    border-bottom-right-radius:3vh ;
    /* text-shadow: 20vw 10vh 0.8vh #333; */
/* }
.googleAds--boton{
    text-shadow: 23vw 9vh 0.8vh #333;
    background-color: white;
    margin-left: 0.5vh;
}
.mostrarFacebook{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    top:55vh;
    left:50.5vw;
}
.mostrarGoogle{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    top:55vh;
    left:14.5vw;
}
.mostrarInstagram{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    top:71vh;
    left:14.5vw;
}
.mostrarWebDesign{
    height: 14.5vh;
    width: 35.2vw;
    background-color: green;
    opacity: 1%;
    top:70.5vh;
    left:50.5vw;
}
.mostrarGoogle:hover + .mg{
    transition: 1s;
    opacity: 100%;
}
.mostrarFacebook:hover + .mf{
    transition: 1s;
    opacity: 100%;
}
.mostrarInstagram:hover + .mi{
    transition: 1s;
    opacity: 100%;
}
.mostrarWebDesign:hover + .mw{
    transition: 1s;
    opacity: 100%;
}
.facebookAds--boton{
    text-shadow: 21vw 9vh 0.8vh #333;
    background-color: white;
}
.instagramAds--boton{
    text-shadow: 20vw 9vh 0.8vh #333;
    background-color: white;
    margin-left: 0.5vh;
    border-bottom-left-radius: 5vh;
}
.webDesign--boton{
    text-shadow: 22.5vw 9vh 0.8vh #333;
    background-color: white;
}
.mf{
    opacity:0;
}
.mi{
    opacity: 0;
}
.mw{
    opacity: 0;
}
.mg{
    opacity: 0;
}*/


@media only screen and (min-width: 992px) {

    .servicios__main{
        background-color: rgba(218, 226, 55, 0.441);
        height: 40.5vw;
    }
    .main__servicios--banners{
        overflow: auto;
        height: 37.5vw;
        width: 57vw;
        position: relative;
        left: 20vw;
    }
    .serviciosBanners img{
        width: 56vw;
        height: 17vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    
    }
    .servicios--botones{
        display: none;
    }
        /* .servicios__main{
            background-color: #c1c1b37a;
            border-width: 3vh;
            height: 38.5vw;
            border-left: none;
            background-color: white;
            overflow: auto;
            box-shadow: 1.5vh 2vh 2vh 0 black;
                    
        }
        .serviciosBanners{
            height: 34.5vw;
        }
        
        .main__servicios--banners{
            align-items: center;
            justify-items: center;
            background-color: black;
        }
        .main__servicios--botones p{
            display: block;
        }
        .main__servicios--botones{
            justify-items: center;
            align-items: center;
            background-color: black;
        }
        .borrarRow{
            position: absolute;
            height: 1vh;
        }
        .main__servicios--botones p{
            font-size: 4vw;
            height: 60%;
            width: 60%;
            padding-left: 1vw;
            border: solid 0.3vw white;
            border-top-right-radius: 3vh;
            border-bottom-right-radius:3vh ;
        }
        .mostrarFacebook{
            height: 14.5vw;
            width: 30.2vw;
            background-color: green;
            opacity: 1%;
            position: absolute;
            top:38.5vw;
            
            left:52.5vw;
        }
        .mostrarGoogle{
            height: 14.5vw;
            width: 30.2vw;
            background-color: green;
            opacity: 1%;
            position: absolute;
            top:39vh;
            left:19.5vw;
        }
        .mostrarInstagram{
            height: 14.5vw;
            width: 30.2vw;
            background-color: green;
            opacity: 1%;
            position: absolute;
            top:52.5vw;
            left:19.5vw;
        }
        .mostrarWebDesign{
            height: 14.5vw;
            width: 30.2vw;
            background-color: green;
            opacity: 1%;
            position: absolute;
            top:52.5vw;
            left:52.5vw;
        }
        .mostrarGoogle:hover + .mg{
            transition: 1s;
            opacity: 100%;
        }
        .mostrarFacebook:hover + .mf{
            transition: 1s;
            opacity: 100%;
        }
        .mostrarInstagram:hover + .mi{
            transition: 1s;
            opacity: 100%;
        }
        .mostrarWebDesign:hover + .mw{
            transition: 1s;
            opacity: 100%;
        }
        .googleAds--boton{
        text-shadow: 23vw 9vh 0.8vh #333;
        background-color: white;
        position: relative;
            top:-20vw;
            left: 10.3vw;
        }
        .facebookAds--boton{
            text-shadow: 21vw 9vh 0.8vh #333;
            background-color: white;
            position: relative;
            top:-20vw;
            left:-8vw;
        }
        .instagramAds--boton{
            text-shadow: 20vw 9vh 0.8vh #333;
            background-color: white;
            border-bottom-left-radius: 5vh;
            position: relative;
            top: -27vw;
            left:10.3vw;
        
        }
        .webDesign--boton{
            text-shadow: 22.5vw 9vh 0.8vh #333;
            background-color: white;
            position: relative;
            top: -27vw;
            left:-8vw;
        
        }
        .mf{
            opacity:0;
        }
        .mi{
            opacity: 0;
        }
        .mw{
            opacity: 0;
        }
        .mg{
            opacity: 1;
        }
        .main__servicios--banners img{
            height: 18.5vh;
            width: 62vw;
            position: absolute;
            left:20.25vw;
            top: 18.2vh;
        }
         */
    } 
    
@media only screen and (min-width: 1358px) {
    
    .servicios__main{
        background-color: rgba(218, 226, 55, 0.441);
        height: 39vw;
    }
    .main__servicios--banners{
        overflow: auto;
        height: 37.5vw;
        width: 56vw;
        position: relative;
        left: 21vw;
    }
}
